{% assign defaultCollection = false %}
{% for col in collections %}
  {% if product.title contains col.title %}
    {% assign defaultCollection = col %}
  {% endif %}
{% endfor %}
<nav class="sp-breadcrumb">
  <a href="{{ routes.root_url }}" class="dib">{{ 'onlylens.breadcrumbs.home' | t }}</a>
  {% if defaultCollection %}
    {% render 'icon-angle-right' -%}
    <a href="{{defaultCollection.url}}" class="dib">{{ defaultCollection.title }}</a>
  {% elsif collection.url != blank %}
    {% render 'con-angle-right' -%}
    <a href="{{collection.url}}" class="dib">{{ collection.title }}</a>
  {% endif %}
  <i class="facl facl-angle-right"></i>
  {{ product.title }}
</nav>
